/* Your styles here */
body, p {
  font-family: "Open Sans", sans-serif;
  font-weight: 1.2rem ;
  font-style: normal;
  /* font-weight: bold; */
  color: #393d41 ;
  text-decoration: none;
  line-height: 1.65em;
}
main section h1, h2 {
  font-family: "Montserrat (bold)", sans-serif;
  font-style: normal;
  /* font-weight: bolder; */
  color: #25a2c3;
  text-decoration: none;
  line-height: 1.5em;
}

#h1 {
    font-size: xx-large;
    line-height: 1em;
}

p {
    text-align: center;
    padding: 0px 30px 0px 30px;
    font-size: x-large;

}

#logo {
    width: 200px;
    text-align: left;
    display: flex;
    margin-left: 45px;
}

header {
    text-align: center;
    /* background-size: cover; */
    background-color: black;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body {
    padding-top: 0px;
    /* padding-left: 30px;
    padding-right: 30px; */

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.corso-web-developer { 
    background-image: url("./images/banner.jpg");
    height: 540px;
    padding-top: 150px;
    background-size: cover;
    background-position: top;
}

main h1, h2, section{
    text-align: center;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}
#tutti-cercheranno {
padding: 100px;
margin-top: 200px;

}

.text-left {
    text-align: left;
    padding-left: 40px;
    /* font-size: medium; */
}
#text-left-box {
    display: inline-block;
}



#button {
    font-family: "Montserrat (bold)", sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;
    margin: 10px 0px 80px 0px;
    padding: 15px 40px 15px 40px;
    border-radius: 5%;
    border: none;
    background-color: #f04c2f ; 
}
#cit {
    background-color: #f04c2f;
    padding: 30px 0px 30px 0px;
    color: white;
    margin: 0px;
}
.bianco {
    font-family: "Open Sans", sans-serif;
  font-style: normal;
  /* font-weight: bolder; */
  text-decoration: none;
  line-height: 1.5em;
    color: white;
    margin-top: 20px;
    padding: 0px;
}
#foto1, #foto2, #foto3 {
    width: 400px;
    text-align: center;
    margin: 50px;
    padding: 0px;  
    display: inline-block;
 }
#footer, footer h1, footer p {
    background-color: #25a2c3;
    padding: 0px;
    color: white;
    margin: 0px;
    font-style: none;

}
footer h1{
    padding: 60px 20px 20px 20px;
}
footer p {
    opacity: 70%;
}
a {
    color: white;
}
#footer {
    padding-bottom: 40px;
}
.footer {display: flex;
  flex-direction: column;
  align-items: center; /* Centra orizzontalmente */
  justify-content: center;  /* Centra verticalmente */}
